.main {
    margin-left: 7%;
    margin-right: 7%;
    background-color: rgb(255, 255, 255);
    min-height: 100vh;
    border-left: 1px solid rgba(0, 0, 0, 0.524);
    border-radius: 1px solid rgba(0, 0, 0, 0.574);
    padding: 2%;
}

.movieImg {
    width: 98%;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.274);
}

.movieContainer {
    display: grid;
    grid-template-columns: 50% 50%;
}


.movieVideo {
    margin-top: 5%;
    width: 100%;
    height: 50vh;
    border: 1px solid rgba(0, 0, 0, 0.508);
    border-radius: 15px;

}

.movieInfos {
    margin-left: 2%;
    margin-right: 10%;
}

.movieInfos p{
    color: rgba(0, 0, 0, 0.611);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.name {
    color: black;
    font-size: 26px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
}

.movieInfos h2 {
    margin-top: 10%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgba(9, 67, 255, 0.999);
    font-weight: 600;
}

.streaming {
    margin-top: 1%;
    height: 15vh;
    border-radius: 15px;
}

.streaming:hover {
    opacity: 0.5;
    cursor: pointer;
}

.commentSection {
    margin-top: 5%;
    border-top: 1px solid rgba(0, 0, 0, 0.573);
}

.userRating {
    margin-top: 5%;
    border: 1px solid rgba(0, 0, 0, 0.772);
    border-radius: 10px;
    padding: 3%;
}

.userRating textarea {
    resize: none;
    width: 100%;
    height: 20%;
    border: 1px solid rgba(0, 0, 0, 0.646);
    border-radius: 12px;
    padding: 1%;
    margin-top: 2%;
}

.sendRating {
    background-color: rgb(80, 80, 251);
    color: white;
    font-size: 18px;
    border: 1px solid black;
    border-radius: 10px;
    width: 7vw;
    display: flex;
    float: right;
}




.ratingStars {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}


.radio_hide {
    position: fixed;
    opacity: 0;
}

.radio_star {
    cursor: pointer;
    color: rgba(117, 117, 117, 0.582);
}

.radio_star:before {
    content: '★';
    display: inline-block;
    font-size: 38px;
}

.radio_star:hover , .radio_star:hover~.radio_star {
    color: gold;
}

.radio_hide:checked~.radio_star {
    color: gold;
}